
<div class="container">
    <div class="row">
        <div class="col-md-4">
          <app-createpost></app-createpost>
        </div>
        <div class="col-md-8">
          <app-login></app-login>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
          <h1>Global Posts</h1>
        <app-globalposts></app-globalposts>
        </div>
        <div class="col-md-4">
          <h1>Your Posts</h1>
        <app-myposts></app-myposts>
        </div>
    </div>
    </div>
